body{
    background-image: url("equalizer-landing-page/equalizer-landing-page/starter-code/assets/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: top -150px right -150px;
    font-family: 'IBM Plex Sans', sans-serif;  
    width: 100%; 
}

header{
    padding: 40px 24px;
}

h1{
    color: #191826;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.45px;
    margin: 20px 24px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 209px;
    height: 430px;
    position: absolute;
    top: -98px;
    left: 50%;
    transform: translate(-50%);
}

.black-div{
    width: 100%;
    height: 600px;
    background-color: #191826;
    border-radius: 12px;
    position: relative;
    background-image: url("equalizer-landing-page/equalizer-landing-page/starter-code/assets/bg-pattern-2.svg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 280px 420px;
    margin-top: 166px;
}

.orange-div{
    background-color: #FA7453;
    border-radius: 12px;
    top: 380px;
    left: 0;
    position: absolute;
    padding: 48px 36px;
}

.orange-div h1{
    margin: 0 0 12px 0;
    color: #FCFAF9;
}

.orange-div p{
    color: #FCFAF9;
    margin-bottom: 36px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#apple{
    width: 296px;
    height: 61px;
    background-color: #191826;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FCFAF9;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    text-align: center;
    border:none;
    margin: 32px 0 16px 0;
}

#apple-div, #android-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 100%;
}

#android{
    width: 296px;
    height: 61px;
    background-color: #FCFAF9;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #191826;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    text-align: center;
    border:none;
}

a, a:hover, a:link, a:active, a:visited{
    text-decoration: none;
}

h2{
    color: #FCFAF9;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    display: flex;
    align-items: center;
    gap: 16px
}

span{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.2px;
}

.p{
    color: #191826;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.top{
    margin: 0 24px;
}

footer{
    margin-top: 300px;
    padding: 80px 24px;
}

.last{
    margin: 32px 0 64px 0;
}

.icon-container{
    display: flex;
    gap: 20px;
}


/* tablet version */

@media (min-width: 720px){

    body{
        background-image: url("equalizer-landing-page/equalizer-landing-page/starter-code/assets/bg-main-tablet.png"), url("equalizer-landing-page/equalizer-landing-page/starter-code/assets/bg-pattern-1.svg");
        background-size: 100% 600px, 267px 400px;
        background-position: top left -100px, top right;
    }

    header{
        padding: 62px 40px;
    }

    main{
        padding: 33px;
    }

    h1{
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.73px;
        margin: 28px 6px;
        max-width: 520px;
    }
    
    .top{
        margin: 0 6px;
        font-size: 18px;
        line-height: 28px;
        max-width: 520px;
    }

    .black-div{
        margin-top: 249px;
    }

    img{
        width: 270px;
        height: 556px;
        top: -138px;
        left: 64px;
        transform: unset;
    }

    .orange-div{
        width: 45%;
        top: 150px;
        left: 239px;
        padding: 48px;
    }

    .orange-div h1{
        font-size: 32px;
        line-height: 40px;
    }
    
    .orange-div p{
        font-size: 18px;
        line-height: 28px;
    }

    footer{
        margin-top: 103px;
        padding: 80px 33px;
    }

    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .last{
        margin: unset;
        max-width: 366px;
    }

    #logo{
        margin-bottom: 32px;
    }
}


/* desktop version */

@media (min-width: 1024px){
    header{
        padding:  62px 165px;
    }

    main{
        padding: 0 165px;
    }

    h1{
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -1px;
        margin: 40px 0;
        max-width: 1015px;
    }
    
    .top{
        margin: 0;
        font-size: 20px;
        line-height: 34px;
        max-width: 825px;
    }

    .black-div{
        margin-top: 321px;
    }

    img{
        width: 312px;
        height: 642px;
        top: -213px;
        left: 102px;
        transform: unset;
    }

    .orange-div{
        width: 338px;
        top: 90px;
        left: unset;
        right: 95px;
        padding: 54px;
    }

    .orange-div h1{
        font-size: 40px;
        line-height: 52px;
    }
    
    .orange-div p{
        font-size: 20px;
        line-height: 34px;
    }

    footer{
        margin-top: 200px;
        padding: 0 165px 138px 165px;
        display: flex;
        justify-content: space-between;
    }

    .footer{
        width: 65%
    }

    .last{
        margin: unset;
        max-width: 366px;
    }

    #logo{
        margin-bottom: 32px;
    }

    /* desktop active */

    #apple:hover{
        background-color: #66E2DC;
    }

    #android:hover{
        background-color: #FFB964;
    }

    .icon-container svg:hover path{
        fill: #FA7453;
    }

}